html {
  overflow-x: hidden !important;
}

body {
  background-color: #121212;
  color: #D5D5D5;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1070px;
  }
}

header {
  height: 100vh;
  background-image: url("./images/new-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header .info {
  margin-top: 10vh;
  position: relative;
}

header .info img {
  position: absolute;
  right: 16%;
  top: 0px;
}

header .platforms {
  margin-top: 16vh;
  text-align: center;
}

header .platforms img {
  margin: auto;
}

.navbar {
  border-bottom: 1px #9d9d9d17 solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar a,
.navbar a:focus {
  color: #9D9D9D;
}

.navbar a:hover {
  color: white;
}

section {
  margin-top: 180px;
  margin-bottom: 180px;
  padding-top: 50px;
}

#roadmap {
  margin-bottom: 0px;
}

.list,
.roadmap-list {
  padding: 0px !important;
}

.roadmap-list li {
  display: flex;
  align-items: baseline;
  margin: 10px 0;
  line-height: 30px;
  list-style: none;
  color: #D0D0D0;
}

.roadmap-list li:before {
  display: block;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  background: url('./images/dot.svg') no-repeat left center;
  background-size: contain;
  content: '';
}

.list li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  line-height: 30px;
  list-style: none;
  color: #D0D0D0;
}

.list li:before {
  display: block;
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  background: url('./images/checked.svg') no-repeat left center;
  background-size: contain;
  content: '';
}

.roadmap-list .list li.unchecked:before {
  background: url('./images/unchecked-small.svg') no-repeat left center;
}

.roadmap-list .list li:before {
  background: url('./images/checked-small.svg') no-repeat left center;
}

.list b {
  margin-left: 5px;
  margin-right: 5px;
}

ul li ul h3 {
  color: #FFFFFF;
}

ul li .list {
  margin-bottom: 50px;
}

.vl {
  border-left: 1.5px dashed #BABABA;
  height: 933px;
  position: absolute;
  left: 12px;
  z-index: -1;
  top: 3px;
}

.relative {
  position: relative;
}

h1 {
  font-weight: bold;
  background: #FF8000;
  background: -webkit-linear-gradient(to right, #FF8000 0%, #5A2D00 100%);
  background: -moz-linear-gradient(to right, #FF8000 0%, #5A2D00 100%);
  background: linear-gradient(to right, #FF8000 0%, #5A2D00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 65px;
  line-height: 90px;
  margin-bottom: 20px;
}

.btn,
.btn:hover {
  background-color: white;
  color: black;
  border-radius: 65px;
  font-weight: bold;
  padding: 10px 25px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid white;
}

.btn.center-btn {
  margin: auto;
  text-align: center;
  display: flex;
  width: fit-content;
  margin-top: 30px;
}

.btn.outline {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.btn.outline:hover {
  background-color: white;
  color:black;
}

p {
  max-width: 500px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-wrap {
  text-align: center;
}

.btn-wrap .btn {
  margin-bottom: 0px;
}

.wallet-explorer img{
  max-width: 90%;
  max-height: auto;
}

.wallet-explorer .mobile-chart {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.wallet-explorer .mobile-chart .kaiken {
  position: absolute;
  left: 7%;
  top: 65%;
}

.box {
  background-color: #252525;
  border: 1.4px #333333 solid;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

#tokenomics .box {
  width: fit-content;
}

.box p {
  color: #B2B1B1;
  max-width: 400px;
}

.box h2 {
  color: #FFFFFF;
}

.box>div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box>div p {
  margin-bottom: 0px;
  color: white;
}

.box>div p.gray{
  color: #B2B1B1;
}

.box>div small {
  padding-left: 30px;
  margin-left: auto;
}

@media screen and (max-width: 1000px){
  body {
    color: #B2B1B1;
  }
  header .info {
    margin-top: 2vh;
  }
  header .platforms {
    margin-top: 6vh;
    border-bottom: 1px #9d9d9d17 solid;
    padding-bottom: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  header {
    background-image: none;
    height: auto;
  }
  header .info img {
    display: none;
  }
  .list li {
    color: #FFFFFF;
  }
  .roadmap-list li:before {
    background: url('./images/mobile-dot.svg') no-repeat left center;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    background: #4943FF;
    background: -webkit-linear-gradient(to right, #4943FF 0%, #925B99 50%, #FF8000 100%);
    background: -moz-linear-gradient(to right, #4943FF 0%, #925B99 50%, #FF8000 100%);
    background: linear-gradient(to right, #4943FF 0%, #925B99 50%, #FF8000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wallet-explorer img{
    max-width: 100%;
    max-height: auto;
  }
  section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px #9d9d9d17 solid;
  }
  .box {
    background-color: transparent;
    border: transparent;
    padding: 0px;
  }
  .box.blue {
    border-left: 2px dashed #4943FF;
    padding-left: 10px;
    border-radius: 0px;
    margin-top: 20px;
  }
  .box.blue h2 {
    color: #4943FF;
  }
  .box.purple {
    border-left: 2px dashed #925B99;
    padding-left: 10px;
    border-radius: 0px;
    margin-top: 20px;
  }
  .box.purple h2 {
    color: #925B99;
  }
  .box.orange {
    border-left: 2px dashed #FF8000;
    padding-left: 10px;
    border-radius: 0px;
    margin-top: 20px;
  }
  .box.orange h2 {
    color: #FF8000;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .vl {
    height: 865px;
  }
  ul li .list {
    margin-bottom: 20px;
  }
}